fastapi==0.115.11
uvicorn[standard]==0.34.0
python-dotenv==1.1.0
python-multipart==0.0.20
qdrant_client==1.13.3
asyncpg==0.30.0
sqlalchemy[asyncio]==2.0.41
aiohttp==3.11.18
openpyxl==3.1.5
pydantic-ai[logfire]==0.2.6
fuzzywuzzy==0.18.0
python-Levenshtein==0.27.1
fastembed==0.7.0
pytz==2025.2
langchain==0.3.23
pandas==2.2.3
sqlparse==0.5.3
langfuse==2.60.5
unidecode==1.4.0
Jinja2==3.1.6
cloudinary==1.44.0
email-validator==2.2.0
