fastapi==0.115.11
uvicorn[standard]==0.34.3
python-dotenv==1.1.0
python-multipart==0.0.20
qdrant_client==1.13.3
asyncpg==0.30.0
sqlalchemy[asyncio]==2.0.41
aiohttp==3.12.12
openpyxl==3.1.5
pydantic-ai[logfire]==0.3.2
thefuzz==0.22.1
fastembed==0.7.0
pytz==2025.2
langchain==0.3.25
pandas==2.3.0
sqlparse==0.5.3
unidecode==1.4.0
Jinja2==3.1.6
cloudinary==1.44.0
email-validator==2.2.0
