fastapi
uvicorn[standard]
python-dotenv
python-multipart
qdrant_client
asyncpg
sqlalchemy[asyncio]
tqdm
aiohttp
openpyxl
pydantic-ai[logfire]
fuzzywuzzy
python-Levenshtein
fastembed
pytz
langchain
pandas
sqlparse
